{% extends 'visiting_card_data/base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock stylesheets %}


{% block content %}

<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div id="content">
	<div class="container-fluid">
		<button type="button" id="sidebarCollapse" class="btn btn-info">
			<i class="fas fa-align-left"></i>
		</button>
		<hr>

		<h2>Saved SMS Templates<span style="float: right">
        
        <button class="create-sms btn btn-info" type="button" name="button">Create New SMS Template</button></span></h2>

		<hr>
		<div>

			<table id="test_table" class="display" style="width:100%; text-align:center">
				<thead>
					<tr>
						<th> Sr.No</th>
						<th> Sms Subject</th>
						<th> Sms Message</th>
						<th> Update</th>
						<th> Delete</th>


					</tr>
				</thead>
				<tbody>
					{% for sms in sms_master %}
                    <tr>
                       <th class="text-center" scope="row">{{ forloop.counter }}</th>
                        <td class="text-center">{{ sms.SMS_Subject }}</td>
                        <td class="text-center">{{ sms.SMS_Message }}</td>
						<td> <button type="button" class="update-sms btn btn-sm btn-primary" data-id="{% url 'visiting_card_data:update_sms' sms.pk %}">
        <span class="fa fa-edit"></span>
      </button></td>

						
						<td> <button type="button" class="delete-sms btn btn-sm btn-danger" data-id="{% url 'visiting_card_data:delete_sms' sms.pk %}">
        <span class="fa fa-trash"></span>
      </button></td>
					</tr>
{% endfor %}
				</tbody>
            </table>
            
            {% comment %} <p class="no-leads text-primary">No entry added yet.</p> {% endcomment %}
            
        </div>
        <!--TEST TABLE ENDS HERE-->
    </div>
</div>

		{% endblock %}

		{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

{% endblock %}

{% block extrascript %}
<script type="text/javascript">
 $(document).ready(function() {
$('#test_table').DataTable({
    orderCellsTop: true,
    fixedHeader: false,
    "lengthMenu": [ [-1], ["All"] ],

 dom: 'Bfrtip',
  buttons: [
    'excelHtml5', 'csvHtml5'
  ]
});
});
</script>
<script type="text/javascript">
    $(function() {
         $(".create-sms").modalForm({formURL: "{% url 'visiting_card_data:create_sms' %}"});
        $(".update-sms").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
         $(".delete-sms").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});
        
      $(".read-sms").each(function () {
        $(this).modalForm({
            formURL: $(this).data('id')});
          });
    });
</script>

{% endblock %}