{% extends 'payment/base.html' %}
{% load client_list_filters %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock stylesheets %}

{% block content %}
<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content"></div>
	</div>
</div>
<!-- Page Content -->
<div id="content">
	<div class="container-fluid">
		<button type="button" id="sidebarCollapse" class="btn btn-info">
			<i class="fas fa-align-left"></i>
		</button>
		<hr>
		{% if payment_status == "Paid" %}
		<h1>All Payment Cleared Tours of {{client_name|title}} </h1>
		{% else %}
		<h1>All Payment Pending Tours of {{client_name|title}} </h1>
		{% endif %}
		<hr>
		<div>
			{% if groupdesc %}
			<table id="test_table">
				<thead style="font-size:12px">
					<tr>
						<th class="text-center" scope="col">vtrefNo</th>
						<th class="text-center" scope="col">Client Name</th>
						<th class="text-center" scope="col">Passenger (Paid)</th>
						<th class="text-center" scope="col">Passenger (Free)</th>
						<th class="text-center" scope="col">No. of Days</th>
						<th class="text-center" scope="col">Start Date</th>
						<th class="text-center" scope="col">End Date</th>
						<th class="text-center" scope="col">VT Handle Person</th>
						<th class="text-center" scope="col">Handle Person</th>
						<th class="text-center" scope="col">Booking Date</th>
						<th class="text-center" scope="col">Confirm Date</th>
						<th class="text-center" scope="col">Quoted Amount</th>
						<th class="text-center" scope="col">Payment Method</th>
						<th class="text-center" scope="col">Summary</th>
						<th class="text-center" scope="col">Update</th>
						{% if user_role == 1 %}
						<th class="text-center" scope="col">Delete</th>
						{% endif %}
					</tr>
				</thead>
				<tbody style="font-size:11px">
					{% for grdes in groupdesc %}
					<tr>
						<td class="text-center">{{ grdes.groupdescription_vtrefNo }}</td>
						<td class="text-center">{{ clients_dict|get_item:grdes.groupdescription_client_id }}</td>
						<td class="text-center">{{ grdes.groupdescription_number_of_passengers_paid }}</td>
						<td class="text-center">{{ grdes.groupdescription_number_of_passengers_free }}</td>
						<td class="text-center">{{ grdes.groupdescription_number_of_days }}</td>
						<td class="text-center">{{ grdes.groupdescription_start_date }}</td>
						<td class="text-center">{{ grdes.groupdescription_end_date }}</td>
						<td class="text-center">{{ grdes.groupdescription_volshebny_handle_person }}</td>
						<td class="text-center">{{ grdes.groupdescription_client_handle_person }}</td>
						<td class="text-center">{{ grdes.groupdescription_booking_date }}</td>
						<td class="text-center">{{ grdes.groupdescription_confirmation_date }}</td>
						<td class="text-center">{{ grdes.groupdescription_amount }}</td>
						<td class="text-center">{{ grdes.groupdescription_payment_method }}</td>
						<td class="text-center">

								<button type="button" class="btn btn-sm btn-primary">
									<a href="{% url 'payment:tour_summary' grdes.pk %}">
										Summary
									</a>
								</button>
						</td>
						<td>
							<button type="button" class="update-book btn btn-sm btn-primary" data-id="{% url 'payment:client_pnlstatement_update' grdes.pk %}">
								<span class="fa fa-edit"></span>
							</button>
						</td>
						{% if user_role == 1 %}
						<td>
							<button type="button" class="delete-book btn btn-sm btn-danger" data-id="{% url 'payment:client_pnlstatement_delete' grdes.pk %}">
								<span class="fa fa-trash"></span>
							</button>
						</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class="no-leads text-primary">No entry added yet.</p>
			{% endif %}
		</div>
		<!--TEST TABLE ENDS HERE-->
	</div>
</div>
<!--PAGE CONTENT ENDS HERE-->
{% endblock %}
{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

{% endblock %}



{% block extrascript %}
<script type="text/javascript">
 $(document).ready(function() {
$('#test_table').DataTable({
	orderCellsTop: true,
    fixedHeader: false,
    "lengthMenu": [ [-1], ["All"] ],
 dom: 'Bfrtip',
  buttons: [
    'excelHtml5', 'csvHtml5'
  ]
});
});
</script>
<script type="text/javascript">
	$(function() {
		$(".update-book").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});
		$(".delete-book").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});

		$(".read-book").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});
	});
</script>
{% endblock %}