{% extends 'payment/base.html' %}
{% load static %}

   {% block content %}
  <div>
       <!-- PAGE CONTENT  -->
        <div id="content">
        	<div class="container-fluid">
            	<button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                </button>

                <!--Restaurant Quatation FORM STARTS-->
                <hr>

                <h2>Restaurant Quatation Form Details</h2>

                <hr>

                <!--TEXT FIELDS START HERE-->
                <form action={% url 'payment:group_description_form_submit' %} method="post">
                 {% csrf_token %}
                    <div class="form-row">
                            <div class="col">
                                <label for="Restaurant Name">Restaurant Name</label>
                                <input type="text" class="form-control" id="groupdescription_vtrefNo" name="groupdescription_vtrefNo">
                            </div>
                        <br>
                            <div class="col">
                                <label for="Restaurant For">Restaurant For</label>
                                <div class="form-group">
                                        <select name="Restaurant For" class="form-control">
                                            <option value="Lunch">Lunch</option>
                                            <option value="Dinner">Dinner</option>
                                        </select>
                                    </div>
                            </div>
                    </div>
                    <br>
                    <input type="submit" class='btn btn-primary' value="Create Restaurant Quatation">
                    </form>
                    <!--/TEXTFIELDS END HERE-->
                    <!--/Restaurant Quatation Form ENDS-->
                    

            </div>
            </div>
        </div>
        <!--PAGE CONTENT ENDS HERE-->
    	  {% endblock content %}

    {% block script %}

    {% endblock %}
    {% block extrascript %}
    
        </script>
 {% endblock %}
 

