{% extends 'payment/base.html' %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock stylesheets %}


{% block content %}
{% include "payment/components/add_new_company_visiting_card.html" %}

<!-- Modal for CURD Operation -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<!-- Page Content -->
<div id="content">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
        </button>
      <hr>

                <h2>All VisitingCard Company Data<span style="float: right"><button class="create_new_visitingcard btn btn-info" data-toggle="modal" data-target="#add_visiting_card">Add New Visiting Card Entry</button></span></h2>

        <hr>
        <div>
            
            <table id="test_table" class="display" style="width:100%; text-align:center">
                <thead>
                    <tr>
                        <th>Serial No.</th>
                        <th>Company Name</th>
                        <th>Agent Name</th>
                        <th>Agent Destination</th>
                        <th>Company Address1</th>
                        <th>Company Address2</th>
                        <th>Telephone1</th>
                        <th>Telephone2</th>
                        <th>Mobile No.1</th>
                        <th>Mobile No.2</th>
                        <th>Email id1</th>
                        <th>Email id2</th>
                        <th>Company Website</th>
                        <th>Read</th>
                        <th>Update</th>
                        {% if user_role == 1 %}
                        <th>Delete</th>
                        {% endif %}
                        <th>Convert To Client</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visiting_card in all_visiting_cards_data %}
                    <tr>
                       <th class="text-center" scope="row">{{ forloop.counter }}</th>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_company_name }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_agent_name }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_agent_designation }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_company_address1 }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_company_address2 }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_tel_number1 }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_tel_number2 }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_mobile_number1 }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_mobile_number2 }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_email_id1 }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_email_id2 }}</td>
                        <td class="text-center">{{ visiting_card.visitingcardcompanydata_company_website }}</td>
                        <td>
                        <button type="button" class="read-book btn btn-sm btn-primary" data-id="{% url 'payment:company_visiting_card_read' pk=visiting_card.pk %}">
        <span class="fa fa-eye"></span>
      </button>
      </td>
                        <td>
							<button type="button" class="update-book btn btn-sm btn-primary" data-id="{% url 'payment:visiting_card_update_new' pk=visiting_card.pk %}">
								<span class="fa fa-edit"></span>
							</button>
						</td>
                        {% if user_role == 1 %}
						<td>
							<button type="button" class="delete-book btn btn-sm btn-danger" data-id="{% url 'payment:visiting_card_company_delete' pk=visiting_card.pk %}">
								<span class="fa fa-trash"></span>
							</button>
						</td>
                        {% if visiting_card.visitingcardcompanydata_convert_to_client == False%}
                       <td> <button type="button" class="convert_btn btn btn-sm btn-info"><a href="{% url 'payment:convert_to_client' pk=visiting_card.pk %}">
								Add To Client Master
							</a></button></td>
                         {% else %}   
                        <td class="text-center">Already a Client</td>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            
            {% comment %} <p class="no-leads text-primary">No entry added yet.</p> {% endcomment %}
            
        </div>
        <!--TEST TABLE ENDS HERE-->
    </div>
</div>
<!--PAGE CONTENT ENDS HERE-->
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

{% endblock %}

{% block extrascript %}
<script type="text/javascript">
 $(document).ready(function() {
$('#test_table').DataTable({
    orderCellsTop: true,
    fixedHeader: false,
    "lengthMenu": [ [-1], ["All"] ],

 dom: 'Bfrtip',
  buttons: [
    'excelHtml5', 'csvHtml5'
  ]
});
});
</script>
<script type="text/javascript">
    $(function() {
         
        $(".update-book").each(function() {
            $(this).modalForm({
                formURL: $(this).data('id')
            });
        });
         $(".delete-book").each(function() {
			$(this).modalForm({
				formURL: $(this).data('id')
			});
		});
        
      $(".read-book").each(function () {
        $(this).modalForm({
            formURL: $(this).data('id')});
          });
    });
</script>

{% endblock %}